@{
	Layout="Shared/_Layout.cshtml";
}

<!-- <hr />
<h2>UPDATE BANDS: </h2>
<br>
<h2>Edit Band: @Model.Name</h2>
<br>
<form action="/bands/@Model.Id/update" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for ="new-name">New Name:</label>
  <input required name="new-name" type="text">
  <input type="hidden" name="_method" value="PATCH">
  <label for ="new-type">New Type:</label>
  <input required type="new-type" type="text">
  <button type="submit">Edit</button>
</form>
<hr>
<h2><a href="/bands/">View all bands</a></h2>
<br>
<hr />
<br> -->
<h2>UPDATE VENUE: </h2>
<br>
<h2>Update Venue: @Model.Name, @Model.Address</h2>
<br>
<form action="/venues/@Model.Id/update" method="post">
  <div class="row">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="venue-id" value="@Model.Id">
    <div class="col-md-6">
      <label for ="new-name">New Name:</label>
      <input required name="new-name" type="text" id="new-name" value="@Model.Name" required autofocus>
    </div>
    <div class="col-md-6">
      <label for ="new-address">New Address:</label>
      <input required address="new-address" type="text" id="new-address" value="@Model.Address">
    </div>
  </div>
  <button type="submit" class="btn btn-default">Update</button>
</form>
<br>
<br>
<br>
<div class="row">
  <div class="col-md-4">
    <h2><a href="/venue_delete">Delete Band from Venues</a></h2>
  </div>
  <div class="col-md-4">
    <h2><a href="/venues/">View all venues</a></h2>
  </div>
  <div class="col-md-4">
    <h2><a href="/">Back to Main Page</a></h2>
  </div>
</div>
