@{
	Layout="Shared/_Layout.cshtml";
}

<h1>Venue and hosted Bands entry</h1>
<h2>Venue: @Model.Name</h2>
<hr />
@if (@Model.GetBands().Count != 0)
{
  <h4>These are all the bands that this venue had hosted:</h4>
  <ul>
    @foreach (var band in @Model.GetBands())
    {
      <li><a href="/band/@band.Id">@band.Name</a></li>
    }
  </ul>
}
else
{
	<h4>This venue has never hosted a band.</h4>
}
<!-- @* <h4>Add a venue to this band:</h4>
<form action='/band/add_venue' method='post'>
  <input id='band-id' name='band-id' type='hidden' value='@Model["band"].Id'>
  <label for='venue-id'>Select a venue</label>
  <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allBands"])
    {
      <option value='@venue.Id'>@venue.Name</option>
    }
  </select>
  <button type='submit'>Add</button>
</form> *@ -->

<p><a href="/">Return to Main Page</a></p>
<p><a href="/venues/@Model.Id/bands/add">Click here to add venue to bands</a></p>
